nav .nav-container {
  width: 100%;
  height: 300px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: black;
  position: static;
}
.nav-container .nav-links {
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
}
.hero {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.hero .hero-text {
  width: 60%;
  font-size: 14px;
}

.btn1 {
  margin-bottom: 10px;
}
.about .img,
.feature {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about img {
  width: 300px;
  height: 300px;
}
.h4-sm {
  font-size: 24px !important;
}

.gallery img {
  padding-left: 20px;
}
#contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer {
  width: 100%;
  flex-direction: column;
}
