.menu {
  display: block;
  display: flex;
}

nav .nav-container {
  width: 100%;
  height: 100px;
}
.nav-links a {
  display: none;
}

.hero .hero-text {
  margin: 0 auto;
}
.hero img {
  width: 300px;
  height: 200px;
}
.heading {
  font-size: 30px;
}
p {
  font: 14px;
}
.about .img .text,
.feature .text {
  width: 80%;
}
.feature img {
  width: 300px;
  height: 200px;
}
.overlay .flex {
  flex-direction: column;
  align-items: center;
}
#contact form {
  width: 300px;
}
#contact .contact-info {
  width: 300px;
}
